/* FOOTER STYLING */
.footer {
  position: fixed;
  top: 60%;
  right: -190px;
  transform: rotate(90deg) translateY(100%);
  transform-origin: bottom right;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  color: #64A8FF;
}

.social-link {
  transform: rotate(-90deg);
  margin-right: 10px;
  font-size: 1.5rem;
  padding-right: 12px;
}

.social-link a {
  color: #cecece;
}

.footer-border {
  margin: 0 15px;
}

#credit-title {
  font-size: 1rem;
}

#github-icon:hover {
  color: #f0f6fc;
  font-size: 2rem;
}

#twitter-icon:hover {
  color: #1da1f2;
  font-size: 2rem;
}

#linkedin-icon:hover {
  color: #0e76a8;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) and (max-height: 600px) and (-webkit-device-pixel-ratio: 2) {
  .footer {
    right: -8.5rem;
    top: 65%;
  } 
  #credit-title{
    font-size: .7rem;
  }
  .social-link{
    font-size: .9rem;
    padding-left: 5px;
  }
}
/* iPad */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1023px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .footer{
      right: -22.5rem;
      top: 30%;
    }
}

/* Phones */
@media only screen 
  and (max-device-width: 480px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .footer{
      right: -37rem;
      top: 20%;
    }
}
@media only screen 
  and (max-device-width: 375px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .footer{
      right: -29rem;
      top: 20%;
    }
}
