* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans Mono', monospace;
}

:root {
	--mainColor: #0D0B26;
	--mainColorLight:  #031329;
	--textColor: #f8f8f8;
}

header {
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	background-color: var(--mainColor);
	color: var(--textColor);
	z-index: 999;
}
#hex-logo {
	margin-left: 50px;
	margin-right: 50px;
	height: 75px;
	width: 75px;
	background-color: #0D0B26;
}
 header p{
	font-size: 9px;
	margin-bottom: 2px;
 }
  
.play-toggle-btn {
	font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: #f8f8f8;
	border-style: none;
	cursor: pointer;
	padding: 5px 10px;
}

.play-toggle-btn:hover {
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 0 30px 5px#18398d;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}
nav a {
	margin: 0 1.4rem;
	color: var(--textColor);
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: 200;
}

nav a:hover {
 color: #4073ff;
}

header .nav-btn {
	cursor: pointer;
	background: transparent;
	border: none;
	outline: none;
	color: var(--textColor);
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
	font-weight: 100;
}

header div,
nav {
	display: flex;
	align-items: center;
}

#nav-resume {
margin-right: 40px;
padding: 5px 10px;
border-radius: 7px;
border: 1px solid #4073ff;
font-size: 12px;
cursor: pointer;
text-transform: uppercase;
font-weight: 600;
letter-spacing: 2px;
background: transparent;
color: #b2b2b2;
overflow: hidden;
box-shadow: 0 0 0 0 transparent;
-webkit-transition: all 0.2s ease-in;
-moz-transition: all 0.2s ease-in;
transition: all 0.2s ease-in;
}

#nav-resume:hover {
background: #0c2364;
box-shadow: 0 0 30px 5px#18398d;
-webkit-transition: all 0.2s ease-out;
-moz-transition: all 0.2s ease-out;
transition: all 0.2s ease-out;
}

#nav-resume:hover::before {
-webkit-animation: sh02 0.5s 0s linear;
-moz-animation: sh02 0.5s 0s linear;
animation: sh02 0.5s 0s linear;
}

#nav-resume::before {
content: '';
display: block;
width: 0px;
height: 86%;
position: absolute;
top: 7%;
left: 0%;
opacity: 0;
background: #fff;
box-shadow: 0 0 50px 30px #0c2364;
-webkit-transform: skewX(-20deg);
-moz-transform: skewX(-20deg);
-ms-transform: skewX(-20deg);
-o-transform: skewX(-20deg);
transform: skewX(-20deg);
}

@keyframes sh02 {
from {
	opacity: 0;
	left: 0%;
}

50% {
	opacity: 1;
}

to {
	opacity: 0;
	left: 100%;
}
}



#nav-resume:active {
box-shadow: 0 0 0 0 transparent;
-webkit-transition: box-shadow 0.2s ease-in;
-moz-transition: box-shadow 0.2s ease-in;
transition: box-shadow 0.2s ease-in;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}

	header nav {
		position: fixed;
		top: -100vh;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
	}

	header .responsive_nav {
		transform: translateY(100vh);
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		right: 2rem;
		color: #4073ff;
	}

	nav a {
		font-size: 1.7rem;
		font-weight: 200;
	}
}